   body {background-color:powderblue}
    h1   {color:darkblue}
h3 {color:orangered}
html, body {
    height: 80%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
   a {
            all: unset;
	   color:forestgreen
        }